<div class="modal-header bg-warning text-white">
  <h5 class="modal-title ">
    {{title}} </h5>
  <a class="close btn-outline-warning" style="cursor:pointer" (click)="close()"><span>&times;</span></a>
</div>
<form [formGroup]="userForm" (ngSubmit)="onSub()">
  <div class="modal-body">
    <div class="form-group">
      <label for="Title">First Name</label>
      <input class="form-control" type="text" name="FirstName" id="FirstName" formControlName="FirstName">
      <span class="help-block" *ngIf="FirstName!=null && FirstName.invalid  && FirstName.touched ">First name
        required</span>
    </div>
    <div class="form-group">
      <label for="Title">Last Name</label>
      <input class="form-control" type="text" name="LastName" id="LastName" formControlName="LastName">
      <span class="help-block" *ngIf="LastName!=null && LastName.invalid  && LastName.touched ">First name
        required</span>
    </div>
    <div class="form-group">
      <label for="email">Email</label>
      <input type="email" formControlName="Email" class="form-control">
      <span class="help-block" *ngIf="Email!=null && Email.errors!=null && Email.errors['emailExists']">Email Already
        Exists</span>
    </div>
  </div>

  <div class="modal-footer">
    <button class="btn btn-success" type="submit" [disabled]="this.userForm && userForm.invalid" data-dissmiss="modal">
      {{title}}
    </button>
    <!-- <span *ngIf="!userForm.valid && userForm.touched" class="help-block">Please enter valid data!</span> -->
  </div>
</form>