<form [formGroup]="EditPostForm" (ngSubmit)="onSub()">
  <section id="actions" class="actions py-4 bg-light">
    <div class="container">
      <div class="row">
        <div class="col-md-3">
          <a href="#" [routerLink]="['/']" class="btn btn-light btn-block"><i class="fas fa-arrow-left"></i>Back to
            Dashboard</a>
        </div>
        <div class="col-md-3">
          <button type="submit" class="btn btn-success btn-block"><i class="fas fa-check"></i>Save Chanes</button>
        </div>
        <div class="col-md-3">
          <a (click)="onDelete()" class="btn btn-danger btn-block"><i class="fas fa-trash"></i>Delete Post</a>
        </div>

      </div>
    </div>

  </section>
  <section id="details" class="py-4">
    <div class="container">
      <div class="row">
        <div class="col">
          <div class="card">
            <div class="card-header">
              <h4>Edit Post</h4>
            </div>
            <div class="card-body">
              <div class="form-group">
                <label for="Title"></label>
                <input type="text" formControlName="title" name="title" class="form-control">
              </div>
              <div class="form-group">
                <label for="Category">Category</label>
                <select class="form-control" [(ngModel)]="post.category" name="category" id="category"
                  formControlName="category">
                  <option *ngFor="let cat of categories" value={{cat.title}}>{{cat.title}}</option>
                </select>
              </div>
              <div class="form-group">
                <label for="Img">Upload Image</label>
                <div class="custom-file">
                  <input type="file" class="custom-file-input">
                  <label for="file" class="custom-file-label">Choose File</label>
                </div>
                <small class="form-text text-muted d-inline "> Max Size 3mb</small>
                <small class="form-text text-muted d-inline ml-3"> <a target="_blank" href={{post.imgRef}}>View
                    Photo</a>
                </small>
              </div>
              <div class="form-group">
                <label for="body">Body</label>
                <textarea name="blogPost" formControlName="blogPost" class="form-control">

                 </textarea>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</form>